# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/

# IDEs
.idea/
.vscode/

# Android
android/.gradle/
android/app/build/
android/build/
*.iml

# iOS
ios/Pods/
ios/build/
*.pbxproj
*.xcworkspace

# Logs
*.log

# Mac
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
